/*----------------------------------
  Spaces
------------------------------------*/
.u-content-space {
  padding-top: $g-content-space-y;
  padding-bottom: $g-content-space-y;
}

.u-content-space-top {
  padding-top: $g-content-space-y;
}

.u-content-space-bottom {
  padding-bottom: $g-content-space-y;
}

/*----------------------------------
  Hero Image
------------------------------------*/
.u-hero-img {
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

/*----------------------------------
  Overlays
------------------------------------*/
.u-overlay {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  &--dark::after {
    background-color: rgba($g-dark, .8);
  }
  &--light::after {
    background-color: rgba($g-white, .8);
  }

  &__inner {
    position: relative;
    z-index: 1;
  }
}